.sidebar
  %h1 Statistics
  %h4 Your email
  %i
    %b= current_user.email
  %h4 selected language
  %i
    %b= current_user.lang.name
  %h4 selected category
  %i
    %b= current_user.category.name
    %br
